html{
    margin: 0;
    padding: 0;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;

}

body{
    background-color: rgb(31, 26, 26);
    color: white;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 10em 7em 6em 4em 2em 11em;
    text-align: center;
    font-family: arial;
    max-height: 90vh;   
}
h1{
    color: orange;
    border: 2px solid orange;
    align-self: center;
    max-width: 10em;
    justify-self: center;
    padding: 0.5em;
    border-radius: 100px;
}

h1:hover{
    background-color: orange;
    color: black;
    box-shadow: 2px 2px 2px 2px black;
}
.input-box{
    align-self: center;
    justify-self: center;
    height: 3em;
    border-radius: 20px;
    font-size: 1.5em;
    max-width: 5em;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}
.input-box:focus  {
    border: 2px solid white;
}

.sub-button{
    
    justify-self: center;
    font-size: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 5.5em;
    font-weight: bold;
    margin-top: 1em;
}

.sub-button:hover{
    
    background-color: orange;
    
}
.scores-grid{
    font-size: 1.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
hr{
    width: 90vw;
    color: white;
    background-color: white;
    margin-top: 2em;
}


