html{
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(31, 26, 26);
    height: 90vh;
    font-size: 1em;
    font-family: arial;
    max-height: 90vh;
}

.main-title{

    padding: 0.3em;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    justify-self: center;
}

.sub-titile{
    
    color: orange;
    text-align: center;
}

.main-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    justify-content: center;
    margin-top: 3em;
}

.main-menu{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.select-link{
    
    text-decoration: none;
    background-color: white;
    margin-top: 1.4em;
    text-align: center;
    font-size: 1.5em;
    padding: 0.3em;
    border-radius: 20px;
    color: black;
    align-self: center;
}

.select-link:hover{
    
    background-color: black;
    color: white;
    
    
}
.red{
    background-color: red;
}

.svg-face{

    width: 17em;
    align-self: center;
    margin-top: 8em

}
.main-fig{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

}

.next-button{

    background-color: red;
    align-self: center;
    justify-self: center;
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 20px;
    text-decoration: none;
}